---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Termos de Uso | Anfitriões Airbnb" description="">


    <div class="page-header">
        <h1>Termos de Uso</h1>
        <p>Última atualização: 26 de Março de 2026</p>
    </div>

    <main class="legal-content">
        <h2>1. Concordância</h2>
        <p>Ao acessar o site <strong>Anfitriões Airbnb</strong>, você concorda em cumprir estes termos de serviço, todas as leis e regulamentos aplicáveis e concorda que é responsável pelo cumprimento de todas as leis locais aplicáveis.</p>

        <h2>2. Isenção de Afiliação B2C</h2>
        <p>O Anfitriões Airbnb é um portal educacional PÚBLICO E INDEPENDENTE criado por superhosts. <strong>Não possuímos qualquer vínculo corporativo, jurídico, afiliação oficial patrocinada, ou endosso da empresa americana Airbnb, Inc.</strong> ou de qualquer de seus canais. O termo é utilizado meramente para definir o ecossistema de aluguel por curta temporada na linguagem coloquial e nos preceitos do <i>Fair Use</i> educacional.</p>

        <h2>3. Licença de Uso do Conteúdo</h2>
        <p>Nenhum artigo, código (como scripts de precificação e copy/paste de modelos), imagem ou logotipia deste site pode ser replicada, copiada ou republicada em canais de mídias concorrentes que visem ao lucro direto com a venda deste material educacional não autorizado.</p>

        <h2>4. Exatidão dos Materiais e Limitações</h2>
        <p>Os materiais exibidos no portal Anfitriões Airbnb podem incluir erros técnicos, tipográficos ou fotográficos. Não garantimos que os conselhos financeiros, guias imobiliários de impostos, ou rentabilidades projetadas sejam fidedignas no futuro. Qualquer aplicação de impostos federais a respeito do aluguel de imóveis pelo Airbnb devem ser vistos com seu contador legal licenciado e não baseadas apenas no portal.</p>
    </main>            <!-- Footer -->
    
</Layout>
